[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = https://github.com/zsh-users/zaw
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "zsh/wkentaro.zsh-theme"]
	path = zsh/wkentaro.zsh-theme
	url = https://github.com/wkentaro/wkentaro.zsh-theme.git
[submodule "wkentaro.zsh-theme"]
	path = wkentaro.zsh-theme
	url = https://github.com/wkentaro/wkentaro.zsh-theme
