[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = https://github.com/zsh-users/zaw
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "zsh/zsh-theme"]
	path = zsh/zsh-theme
	url = https://github.com/wkentaro/zsh-theme.git
[submodule "zsh/pycd"]
	path = zsh/pycd
	url = https://github.com/wkentaro/pycd.git
