[submodule "emacs.d/packages/platform-p"]
	path = emacs.d/packages/platform-p
	url = https://github.com/ongaeshi/platform-p
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
