[Unit]
Description=process-prs for %i

[Timer]
OnBootSec=2min
OnUnitActiveSec=20min
RandomizedDelaySec=2min
Unit=claude-skill@process-prs:%i.service

[Install]
WantedBy=timers.target
